node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
stms_venv/
venv/
.env

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Database
backend/db.sqlite3
*.sqlite3

# OS files
.DS_Store
Thumbs.db

#
#documents/
#*.log

*.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 
.pem
*.pem

.next/
node_modules/
.env